.NavItem {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

.NavItemSearch {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    padding-right: 20px;
}

@media (max-width: 784px) {
    .NavItemSearch{
        color: white;
        font-size: 20.3px;
        letter-spacing: 0.3em;
        margin-bottom: 20px;
    }
}
