.SideDrawer {
    position: fixed;
    width: 0px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 700;
    background-color: black;
    box-sizing: border-box;
    transition: 0.5s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 784px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    width: 100%;
}

.Close {
    width: 0;
    margin-right: -10%;
}
